/node_modules
/public/hot
/public/reports
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/public/uploads/*
/public/reports/*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
