/node_modules
/public/hot
/public/storage
/public/reports
/public/qsr_pending_deliveries_reports
/storage/*.key
/vendor
/.phpintel
/.idea
/.vscode
/.vagrant
/public/uploads/*
/public/reports/*
/public/reports/*.xlsx
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/public/.DT_Store
/public/file/.DT_Store
.DT_Store

.config/*
.product/*
tmp/*
docker-compose*