html body a {
	color: #64a0d2;
}

html body a:hover {
	color: #6496be;
}

.col_custom {
	min-width: 100%;
}

table.dataTable {
	font-size: 12px;
}

table.dataTable thead tr th {
	padding-left: 0.5em;
	white-space: normal;
	word-wrap: break-word;
}

table.dataTable thead tr th:before,
table.dataTable thead tr th:after {
	height: 20px;
	margin-bottom: -10px;
	bottom: 50% !important;
}

table.dataTable tbody tr.selected a {
	color: #6496be;
}

table.dataTable tbody tr td {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

table.dataTable tbody tr td.select-checkbox:before {
	top: 50%;
	border-color: #64a0d2;
}

table.dataTable tbody tr.selected td.select-checkbox:after {
	top: 50%;
	text-shadow: none;
}

.pagination .page-link {
	color: #64a0d2;
}

.page-item.active .page-link {
	background-color: #64a0d2;
	border-color: #64a0d2;
}

.dataTables_scrollBody thead tr {
	visibility: collapse;
}

.btn-group .dropdown-menu .dropdown-item {
	white-space: normal;
}

#toast-bottom-center.toast-container {
	text-align: center;
}

#toast-bottom-center.toast-container .toast {
	display: table;
	width: auto !important;
	text-align: left;
}

.selectize-control {
	width: 100%;
}

.selectize-control .selectize-input {
	vertical-align: middle;
}

.selectize-control .selectize-input .item {
	word-break: break-all;
}

@media (max-width: 767.98px) {
	.header-navbar .navbar-header .menu-toggle {
		top: 7px;
	}

	.header-navbar .navbar-nav .open-navbar-container {
		padding-top: 17px;
	}

	.header-navbar .navbar-container .show .dropdown-menu {
		overflow-y: auto;
	}
}

@media (min-width: 768px) {
	.col_custom {
		min-width: 50%;
	}
}

@media (min-width: 992px) {
	.col_custom {
		min-width: 30%;
	}
}

@media (min-width: 1200px) {
	.col_custom {
		min-width: 0;
		max-width: 20%;
	}
}